*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
}
body{
	background-color:#D0F0BF;
}



#header{
	margin:0 auto;
    height:60px;
}
#ull{
	float:right;
    /*position:absolute;*/
}
#ull a{
	display:inline-block;
	margin:10px 15px 0 0;
	padding:0 15px;
	width:50px;
	height:30px;
	border:1px solid #1C96FF;
	line-height:30px;
	text-align:center;
	background-color:#1CACFF;
	color:white;
	border-radius:5px;
	cursor:pointer;
}



.logobox{
	clear:both;
	margin:10x auto;
}
.logobox label{
	font-weight:bold;
	font-size:18px;
	margin-left:10px;    	
}
.shu{
	width:300px;
	padding:7px;
		border-radius:2px;
		margin-left:10px;
		border:1px solid black;
		color:#A8A8A8;
}
.suo{
	width:60px;
	height:32px;
	padding:5px;
	margin-left:15px;
	border-radius:2px;
	border:1px solid black;
	cursor:pointer;
}



#box1{
	display:none;
	z-index:1001;
	position:absolute;
	width:400px;
	height:350px;
	background-color:white;
}
#box2{
    display:none;
    z-index:1001;
    position:absolute;
    width:400px;
    height:350px;
    background-color:white;
}

.dlbox span{
	display:block;
	padding:12px 0 12px 22px;
	font-family:"微软雅黑";
	font-size:18px;
	color: white;
	background-color: #4490f7;
	cursor: move;
}
.myclose{
	width:30px;
	height:30px;
	position:absolute;
	right:20px;
	top:10px;
	cursor: pointer;
}
.myclose:before, 
.myclose:after {
    content:'';
    position: absolute;
    right:2px;
    top:12px;
    width: 22px;
    height: 2px;
    background: white;
    /*-webkit-transform: rotate(45deg);*/
    transition: all 0.5s;
}
.myclose:before{
    -webkit-transform: rotate(45deg);
}  
.myclose:after{
    -webkit-transform: rotate(-45deg);
} 
.myclose:hover:before{
    -webkit-transform: rotate(135deg);
    background: #f00;
}
.myclose:hover:after{
    -webkit-transform: rotate(45deg);
    background: #f00;
}

.dlbox form{
	padding:30px 20px 0 20px;
}


.dlbox form input[type^="te"]{
	display:block;
	width:350px;
	/*height:40px;*/
	border: 1px solid #ddd;
	padding:12px;
	font-size: 14px;
    color: #666;
    margin-bottom:15px;
}
.dlbox form input[type^="pa"]{
	display:block;
	width:350px;
	border: 1px solid #ddd;
	padding:12px;
	font-size: 14px;
    color: #666;
    margin-bottom:15px;		
}
.dlbox form input[type^="su"]{
	display:block;
	background-color: #4490f7;
	border: 1px solid #4490f7;
	border-radius:2px;
	font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
	height: 48px;
	width:350px;
	margin-top:30px;
}



#mask{
    background:#000;
    opacity:0.5;
    filter:alpha(opacity=50);
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
}	